body {
	background:#0B0B61;
	color:white;
}

div {
	width:50%;
	background:#1C1C1C;
	margin:20px 50px;
	padding:30px;
	border:10px solid #585858;
}

a {
	color:white;
	padding:10px;
	margin:20px 50px;
	border:5px solid #585858;
}

h1, h2 {
	width:50%;
	padding:10px;
	margin:20px 50px;
	margin:20px 50px;
}

table, th, td {
   	border: 1px solid #585858;
}
